:root {
  --section-margin: 40px
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 18px;
  font-family: "ltc-caslon-pro", serif;
  line-height: 1.5;
  color: #293340;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.12' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
}

h1, h2, h3 {
  font-weight: 900;
  letter-spacing: -0.2px;
  color: #171717;
}

h1 {
  letter-spacing: 0.5px;
}

h1, h3 {
  text-align: center;
  line-height: 1.1;
}

a {
  text-decoration: underline;
  color: #202bd6;
}

.mobile-hidden {
  display: block;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.mobile-hidden-inline {
  display: inline-block;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.mobile-display {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
  }
}

.bold {
  font-weight: 900;
  color: #171717;
}

.italic {
  font-style: italic;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.header__top {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.header__top h3 {
  margin-bottom: 5px;
}

.location {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location img {
  margin-right: 5px;
}

.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: var(--section-margin);
}

.header__links img:hover {
  opacity: 0.8;
}

.content div.section {
  margin-bottom: var(--section-margin);
}

.content h2 {
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 10px;
}

.experience, .education {
  margin-bottom: 20px;
}

.experience:last-of-type, .education:last-of-type {
  margin-bottom: 0;
}

.experience__header, .education__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.education__details {
  margin-top: -10px;
}